#contact_modal {
    display: none;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.photographer_description h2{
    color: #DB8876;
    font-size: 2.5em;
    font-weight: 100;
}
.photographer_description h3{
    color: #901C1C;
    font-weight: 100;
}
.photographer_page_img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
/* MEDIA PHOTGRAPHERS */
.sort_Form{
    margin: 5% 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    height: auto;
    
}
.sort_Form label{
    font-size: 18px;
}
.sort_Form select{
   background-color: #901C1C;
   width: 60%;
   padding: 6%;
   color: white;
   border: 1px solid white;
   font-size: 15px;
   cursor: pointer;
}
.media_container{
    width: 100%;
    height: 100%;
}
.media_container{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
.media_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.media_box article{
    width: 29%;
    max-height: 400px;
    cursor: pointer;
    margin-top: 5%;    
}
.media_content {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
}
.media_description{
    display: flex;
    justify-content: space-between;
}
.media_box p{
    color: #901C1C;
    font-size: 20px;
}
.likes_box{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.likes_box .like{
    color:#DB8876;
}
footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height:60px;
    display: flex;
    justify-content: flex-end;
}
footer article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin-right: 5%;
    background-color: #DB8876;
    font-size: 23px;
    font-weight: 300;
}
footer article span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
/* GALLERY  */

  
 











/* FORM /MODAL */
.contact_button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
form label {
    color: #312E2E;
    font-size: 36px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/* SUCCES/ERRORS  */
.js-error-border{
    border: 2px solid red;
}
.js-succes-border{
    border: 2px solid green;
}
.result{
    color: red;
}
/* FORM  */
.close_succes {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}
.close_succes:before,
.close_succes:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
}
.close_succes:before {
    transform: rotate(45deg);
}
.close_succes:after {
    transform: rotate(-45deg);
}
#note {
    position: fixed;
    z-index: 101;
    left: 25%; 
    right: 25%; 
    width: 50%;
    height: 70%;
    margin-bottom: 500px;
    background-color: #901C1C;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    color: #fff;
    border-radius: 7px;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    display: none;
}
#note >p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
